<html>
<head>
<script>
function validateForm() 
{
  var q = document.forms["login_detail"]["username"].value;
  var a = document.forms["login_detail"]["pass"].value;

  if (q==""||a=="") 
  {
    alert("ALL FIELD must be filled out");
    return false;
  }
} 
</script>
<link rel="stylesheet" href="../static/stylesheets/home.css">
<title>
	QUIZ
</title>
</head>
<body>
{% with messages = get_flashed_messages() %}  
    {% if messages %}  
        {% for message in messages %}  
            <script type ="text/javascript">
             alert('{{ message }}');
			</script> 
        {% endfor %}  
    {% endif %}  
{% endwith %}
<div class="content">
QUIZ<br>
</div>
<div class="login">
<form name="login_detail" method ="POST" action="" onsubmit="return validateForm()">
Username : <input type="text" name="username" size="30" value=""/><br><br>
Password : <input type="password" name="pass" size="30" value=""/><br><br>
<label for="auth"></label> 
<select id="auth" name="auth">
  <option value="users">User</option>
  <option value="admin">Admin</option>
</select>
<button type="submit" name="submit">Log in</button> <button type="reset" name="reset now">Reset</button>
<a href="/signup">Sign up here </a>
</form>
</div>
<div class="footer">

</div>
</body>
</html>