<!-- <link href="{{ url_for('static',filename='prof.css') }}" rel="stylesheet"> -->
<link rel="stylesheet" href="../static/prof.css">
		
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="profile-nav">
          <div class="user round">
              <a href="#">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
              </a>
              <h1>Camila Smith</h1>
              <p>deydey@theEmail.com</p>
          </div>

          <ul class="sidenav">
              <li><a href="/admin"> <i class="fa fa-user"></i> Profile</a></li>
              <li><a href="/active_users"> <i class="fa fa-calendar"></i> Active users </a></li>
              <li><a href="/users" class="active"> <i class="fa fa-calendar"></i> User Details </a></li>
              <li><a href="/upload"> <i class="fa fa-laptop"></i> Upload Quiz </a></li>
              <li><a href="#"> <i class="fa fa-edit"></i> Edit profile</a></li>
			  <li><a href="/logout"> <i class="fa fa-edit"></i> Log out</a></li>
          </ul>
  </div>		
		
		
		
		
		<div class="right">
		<div class="heading">
            User detail
        </div>
		<div class="quiz_list">			
			<a href="prof.html">
			{status[0]}}</td>
			</a>
		</div>
		<div class="quiz_list">			
			<a href="prof.html">
			{status[0]}}</td>
			</a>
		</div>
		<div class="quiz_list">			
			<a href="prof.html">
			{status[0]}}</td>
			</a>
		</div>
			           
		</div>